body {
  background-color: #ECEBEB;
 
}

#wrapper {
  margin: 24px auto;
  padding: 0;
  width: 1200px;
  background-color: #ffffff;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-column-gap: 24px;
 
}

nav{
  grid-column: span 12;

}

nav ul{
  color: black;
  text-align: center;
  margin: 40px;
}

nav li{
  display: inline;
  text-decoration: none;
  padding: 12px;
border: 12px;
margin: 12px;
  
}

nav li a{
  color: #3D3B3B;
  text-align: right;
  text-decoration: none;

}

nav li :hover{
  text-decoration: underline;
}

.looper{
 float: left;
 position: absolute;
  width: 250px;
  overflow: hidden;
}

header{
  grid-column: span 12;
  text-align: center;
  padding: 150px;
}

h1{
  font-size: 60px;
  color: #494646;
  border-bottom: 4px solid #5E4B9B;
  border-right-style: 147px;
padding: 24px;
text-shadow: 1.5px 2px 1.5px #5f5e5e; /* x, y, blur, color */
}

main{
  grid-column: span 12;
  margin-left: 1em;
  margin-right: 1em;
}

.mywork{
grid-column: span 12;
background-image: linear-gradient(to right left, #C8BFE5) #C5BCE3;
 background-color: #9880e5;
 padding: 20px 40px 40px 40px;

}

.mywork li{
  text-decoration: none;
  background-image: linear-gradient(to right left, #674188, #C8A1E0);
 background-color: #5E4B9B;
  display: inline;
  padding:24px;
  margin: 24px;
  grid-column: span 12;
 font-family: Arial, Helvetica, sans-serif;
 border-radius: 99px;
 
 }

.mywork ul{
  text-align: center;
  color: white;
}

.mywork li a{
  text-decoration: none;
}

.mywork a{
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  
}

.text1{
  color: #3D3B3B;
  padding-left: 60px;
  padding-bottom: 24px;
  padding-top: 12px;
}



section{
padding: 80px;

}


#Work{
  display: grid;
  grid-auto-columns: 1fr 1fr;
  
  }
  
  .workheading{
    font-family: Arial, Helvetica, sans-serif;
    font-size: medium;
    padding: 20px;
    grid-column: span 2;
  }


.webdevelopment{
  border: 0.6px solid rgb(172, 172, 172);
 padding: 12px;
 margin: 12px;
 padding: 0;
  width: 490px;
  border-radius: 10px;
  box-shadow: 2.5px 2.5px 2.5px #ded6fd; /* x, y, blur, color */
}

.digitaltablet{
  border-radius: 10px;
  width: 490px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
  border: 0.6px solid #a09e9e;
}

.webp{
  border: 0;
  padding-left: 10px;
  color: #5E4B9B;
}

h5{
  padding: 0 0 0 10px;
  color: #494646;
}

p{
  padding-left: 10px;
  padding-right: 10px;
  line-height: 24px;
  
  margin: 0;
  border: 0;
  padding-bottom: 24px;
}

.uiux{
  border: 0.6px solid rgb(172, 172, 172);
  padding: 12px;
  margin: 12px;
  padding: 0;
  width: 490px;
  border-radius: 10px;
  box-shadow: 2.5px 2.5px 2.5px #ded6fd; /* x, y, blur, color */
}

.Photography{
  border: 0.6px solid rgb(172, 172, 172);
  padding: 12px;
  margin: 12px;
  padding: 0;
  width: 490px;
  border-radius: 10px;
  box-shadow: 2.5px 2.5px 2.5px #ded6fd; /* x, y, blur, color */
}

.contentgeneration{
  border: 0.6px solid rgb(172, 172, 172);
  padding: 12px;
  margin: 12px;
  padding: 0;
  width: 490px;
  border-radius: 10px;
  box-shadow: 2.5px 2.5px 2.5px #ded6fd; /* x, y, blur, color */
}


#petprojectcontainer{
  display: grid;
  grid-template-columns: 1fr 5fr;
  grid-column: span 12;
  padding: 24px;
  margin: 0;
  border: 1px solid gainsboro;
  background-color: #ECEBEB;

}

.peth2{

  grid-column: span 2;
  padding: 12px;
  margin: 0;
  border: 0;
}

.petprojectimg{

border: 2px;
padding:0;
margin:10px 20px 0 10px;
border-radius: 10px;
}

.wovenschool{
 font-family: Arial, Helvetica, sans-serif;
 
}

.joinhere{
  background-color: #5E4B9B;
  color: white;
  padding: 12px;
  border-radius: 10px;
}

.joinhere li{
  text-decoration: none;
  background-image: linear-gradient(to right left, #674188, #C8A1E0);
 background-color: #5E4B9B;
  display: inline;
  padding:24px;
  margin: 24px;
  grid-column: span 12;
 font-family: Arial, Helvetica, sans-serif;
 border-radius: 99px;
}

.joinhere ul{
  text-align: center;
  color: white;
}

.joinhere li a{
  text-decoration: none;
}

.joinhere a{
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  
}


footer{
  background-color: #5E4B9B;
  grid-column: span 12;
  width: 100%;
  font-family: Arial, Helvetica, sans-serif;
  font-size: large;
  text-align: center;
  border: 0;
}

.get{
  text-align: center;
  font-size: 25px;
  font-weight: bold;
  text-transform: capitalize;
  color: white;
  padding: 80px;
  margin: 0;
  height: 80px;
}

.icons{
  text-align: center;
  padding-bottom: 12px;
  font-size: small;
}

.bi{
  font-size: 32px;
  color:white;
  padding: 10px;
}

.bi-medium{
  padding-bottom: 12px;
}

#uxresearch{
  display: grid;
  grid-template-columns: 1fr 5fr;
  grid-column: span 12;
  padding: 24px;
  margin: 0;
  border: 1px solid gainsboro;
  background-color: #ECEBEB;

}

.arrow{
  grid-column: span 12;
  text-align: center;
  padding: 0px;
  
}


/*Content Generation*/

#contentheader{
  text-align: left;
  grid-column: span 12;
  padding-top: 20px;
  
}

.cg{
  color: #5E4B9B;
  text-transform: uppercase;
  }

  .wb{
    text-align: left;
    text-transform: capitalize;
    font-size: 60px;
    color: #494646;
    border-bottom: 0;
    border-right-style: 147px;
  padding: 0;
  text-shadow: 1.5px 2px 1.5px #5f5e5e; /* x, y, blur, color */
  }
  
  .descrip{
    text-decoration: none;
    font-style: normal;
    color: #494646;
    padding: 0;
    margin: 0;
    border: 0;
  }



  .beyond1{
  background-color: #C8BFE5;
  border: 1px solid gray;
  }

  .beyond2{
    
    border-left: 1px solid gray;
    border-right: 1px solid gray;
  }

.beyond3{
  background-color: #C8BFE5;
  border: 1px solid gray;
}
  

  #titlewebvideo{
    margin-left: 24px;
    padding: 12px;

  }

.clear{
  clear: both;
}

.Beyondthebook{
  float: left;
  border: 2px solid rgb(105, 105, 114);
  padding:0;
  margin:10px 20px 10px 10px;
}

.Saturdayafternoon{
  float: left;
  border: 2px solid rgb(105, 105, 114);
  padding:0;
  margin:10px 20px 10px 10px;
}

#Saturdayafternoonc{
  padding: 24px;
  margin: 24px;
}

.twominutes{
  float:right;
  border: 2px solid rgb(105, 105, 114);
  padding:0;
  margin:10px 20px 10px 10px;
}

#twominutesc{
  padding: 24px;
  margin: 24px;
}


/*Digital Content*/

.column{
background-image: url(contactbackground.jpg);
text-align: center;
}

.graphics{
  text-align: left;
  padding: 12px;
  margin: 12px;
  

}

.beyond4{
  border: 1px solid gray;
}



.beyond5{
padding: 8px;
margin: 8px;
border:0;

}


#myCarousel {
  margin-bottom: 24px;
}

#myCarousel .f-carousel__slide {
  text-align: center;
  padding: 24px;
  background: #eee;
}


/*Photography*/

#photographysection{
  background-image: url(contactbackground.jpg);
  text-align: center;
}

.photographyimg{
  padding-left: 80px;
  margin-bottom: 24px;
  text-align: left;
}

#myCarousel {
  margin-bottom: 24px;
}

#myCarousel .f-carousel__slide {
  text-align: center;
  padding: 24px;
  background: #eee;
}


/*About Me */

.bodyback{
background-image: url(contactbackground.jpg);
}


.aboutmain{
  margin-left: 1em;
  margin-right: 1em;
  grid-column: span 12;
}

.imagemin{
  width: 100%;
}

.sectionpart{
  margin-bottom: 24px;
}

.aboutsection{
  padding: 24px;
  border: 24px;
  margin-bottom: 24px;
}


.img{
  width: 300px;
  
  margin-bottom: 24px;
  margin-right: 24px;
  float: left;
  border-radius: 300px;
}

.Aboutme{
  text-align: left;
  margin-bottom: 10px;
}




/*Contact Page*/
.theform{
background-image: url(contactbackground.jpg);
padding: 10px;
margin: 10px;
text-align: center;
border: 2px solid #674188;

}
form{
  grid-column: span 2;
  padding: 24px;
  margin: 10px;
  border: 2px solid #674188;
}

.email{
  padding: 24px;
  margin: 0;
  border: 0;
}

.message{
  text-align: left;
  content: "\a";
  white-space: pre;
}